[worldserver]

#
#   Detailed Logging Stat Configurations
#
#   enabled:    启用日志系统的各个部分
#   dumpSize:   在写入日志文件之前缓存的信息行数。
#               对于较小的服务器，这个数值可以设置较低，但对于较大的服务器，这可能会导致频繁的磁盘写入从而引起性能下降。
#

KillDetailedLogging.enabled = true
KillDetailedLogging.dumpSize = 10

DeathDetailedLogging.enabled = true
DeathDetailedLogging.dumpSize = 10

ZoneAreaDetailedLogging.enabled = true
ZoneAreaDetailedLogging.dumpSize = 10
